html {
  height: 100vh;
}

body {
  background: aliceblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: aliceblue;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #900c3f;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  font-family: "Merriweather", serif;
}

p {
  font-family: "Merriweather", serif;
}

h3 {
  margin-topcursor: pointer;
  border: 1px solid;
  padding: 1%;
  border-radius: 15px;
  background: #c70039;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  margin: 1% 1%;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  cursor: pointer;
}

input {
  background: transparent;
  outline: none;
  color: white;
  text-align: center;
  width: auto;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}

.show {
  display: flex;
  align-items: baseline;
}

button {
  width: 12%;
  height: 20px;
  border-radius: 5px;
  background: #f0f8ff;
  outline: none;
  transition: 0.5s;
  font-family: "Merriweather", serif;
}

button:hover {
  background: black;
  color: white;
}

.earth {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("/earth.jpg");
  box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
  animation: earth 30s linear alternate infinite;
}

.date {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5%;
  margin-top: 1%;
}

@keyframes earth {
  100% {
    background-position: 100%;
  }
}
